abslpy==2.1.0
astunparse==1.6.3
certifi==2024.8.30
charsetnormalizer==3.4.0
click==8.1.7
cloudpickle==3.1.0
contourpy==1.3.0
cycler==0.12.1
decorator==5.1.1
dmtree==0.1.8
dockerpycreds==0.4.0
filelock==3.16.1
flatbuffers==24.3.25
fonttools==4.54.1
fsspec==2024.10.0
gast==0.6.0
gitlfs==1.6
gitdb==4.0.11
gitpython==3.1.43
googlepasta==0.2.0
grpcio==1.67.1
h5py==3.12.1
idna==3.10
imageio==2.36.0
jinja2==3.1.4
keras==3.6.0
kiwisolver==1.4.7
libclang==18.1.1
markdown==3.7
markdownitpy==3.0.0
markupsafe==3.0.2
matplotlib==3.9.2
mdurl==0.1.2
mldtypes==0.4.1
mpmath==1.3.0
namex==0.0.8
networkx==3.4.2
numpy==1.26.4
nvidiacublascu12==12.4.5.8
nvidiacudacupticu12==12.4.127
nvidiacudanvcccu12==12.5.82
nvidiacudanvrtccu12==12.4.127
nvidiacudaruntimecu12==12.4.127
nvidiacudnncu12==9.1.0.70
nvidiacufftcu12==11.2.1.3
nvidiacurandcu12==10.3.5.147
nvidiacusolvercu12==11.6.1.9
nvidiacusparsecu12==12.3.1.170
nvidiancclcu12==2.21.5
nvidianvjitlinkcu12==12.4.127
